In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/content/train.csv")
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
df.isna().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [5]:
df_new = df.sample(30000)
df_new.head()

,id,qid1,qid2,question1,question2,is_duplicate
149722,149722,235774,235775,Has anyone cracked JEE by using Byju's tablet ...,Has anyone cracked JEE by using Byju's tablet?,1
287847,287847,408677,199030,Where can I find Family Health insurance quote...,Where can I find Family Health insurance quote...,0
79127,79127,6993,5167,How can I get rid of acne and scars?,How can I get rid of acne and its effect?,1
260422,260422,376378,376379,How doctors help patient who cannot afford tre...,"People call me anorexic, emaciated, etc. but I...",0
53980,53980,66376,95345,What should I do if my mother hates me?,What can I do if my wife and my mother hate ea...,0

In [6]:
df.shape

(404290, 6)

In [7]:
df_new.dropna(inplace=True)

In [8]:
df_new.isna().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [9]:
df_new.duplicated().sum()

0

In [10]:
ques_df = df_new[['question1','question2']]
ques_df.head()

,question1,question2
149722,Has anyone cracked JEE by using Byju's tablet ...,Has anyone cracked JEE by using Byju's tablet?
287847,Where can I find Family Health insurance quote...,Where can I find Family Health insurance quote...
79127,How can I get rid of acne and scars?,How can I get rid of acne and its effect?
260422,How doctors help patient who cannot afford tre...,"People call me anorexic, emaciated, etc. but I..."
53980,What should I do if my mother hates me?,What can I do if my wife and my mother hate ea...

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

## merging texts

questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [12]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [13]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
149722,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260422,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53320,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
311957,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139610,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
186364,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,2,0,0,0,0,0
362569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
temp_df['is_duplicate'] = df_new['is_duplicate']

In [15]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
149722,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
287847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79127,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
260422,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7393333333333333

In [18]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.6828333333333333